/***********************
======================
-Available variables:-
======================

// Fonts
@lcarsFontBold : "Eurostile Bold";
@lcarsFontDemi : "Eurostile Demi";
@lcarsFontEx2  : "Eurostile Ex2";
@lcarsFontNorm : "Eurostile Norm";

// Dimensions
@height          : 30px;
@pageWidth       : 1024px;
@navmenuItemWidth: calc(~'@{pageWidth}/5 - 10px/5');

// Colors
@black       : #000;
@gray        : #666;
@lightYellow : #ff9;
@darkYellow  : #fc6;
@orange      : #f93;
@darkPurple  : #646;
@lightPurple : #c9c;
@lightBlue   : #9cf;
@blue        : #36c;
@darkBlue    : #069;

@headerColor : @blue;

************************/
/************************
LCARS LESS file
Version: 0.1
Author: Thimoteus
Contact: thimoteus.github.io
************************/
@font-face {
  font-family: "Eurostile Bold";
  src: url("/fonts/eurostileltstd-boldex2-webfont.woff");
}
@font-face {
  font-family: "Eurostile Demi";
  src: url("/fonts/eurostileltstd-demi-webfont.woff");
}
@font-face {
  font-family: "Eurostile Ex2";
  src: url("/fonts/eurostileltstd-ex2-webfont.woff");
}
@font-face {
  font-family: "Eurostile Norm";
  src: url("/fonts/eurostileltstd-webfont.woff");
}
.h {
  height: 30px;
}
.headings {
  height: 30px;
  color: black;
  background: #666666;
  font-family: "Eurostile Demi", "Eurostile Norm", Sans;
  text-transform: uppercase;
}
.lcars-pip {
  content: "\00a0";
  color: #000000;
  background: #000000;
  margin: 0 20px;
  height: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  height: 30px;
  color: black;
  background: #666666;
  font-family: "Eurostile Demi", "Eurostile Norm", Sans;
  text-transform: uppercase;
}
h1.lcars-head,
h1.lcars-foot {
  background: #3366cc;
  color: #3366cc;
  border-radius: 20px;
  width: auto;
  margin-top: 5px;
}
span.lcars-head,
span.lcars-foot {
  height: 30px;
  display: inline-block;
  background: #000000;
  margin: 0 30px;
  padding: 0 5px;
  position: relative;
  font-size: 88%;
  float: left;
}
span.lcars-foot {
  float: right;
  text-align: right;
}
.pip-left,
.pip-right {
  float: left;
}
.pip-left::before,
.pip-right::before {
  content: "\00a0";
  color: #000000;
  background: #000000;
  margin: 0 20px;
  height: 30px;
}
.pip-right {
  float: right;
}
html,
body {
  background: #000000;
  color: #666666;
  font-family: "Eurostile Norm";
  height: 100%;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
}
.row,
.col-md-12 {
  height: 100%;
}
.col-md-12 {
  position: relative;
}
div.lcars-foot {
  position: absolute;
  bottom: 0;
  width: 1024px;
}
table {
  width: 100%;
}
table thead {
  text-align: left;
  font-family: "Eurostile Demi";
}
table tr:hover {
  background: #0d0d0d;
}
table th {
  width: 204.8px;
}
table th:first-child,
table th:nth-child(2),
table th:last-child {
  width: 8%;
}
table th:nth-child(4) {
  width: 22.5%;
}
table td:nth-child(3) {
  font-size: 0.8em;
}
ul.nav-menu {
  height: 30px;
  list-style-type: none;
  margin: 0 0 5px 0;
  padding: 0;
}
ul.nav-menu li {
  height: 30px;
  float: left;
  background: #ffcc66;
  text-align: right;
  width: calc(1024px/5 - 10px/5);
  color: #000000;
  margin: 0 2px;
  z-index: 0;
}
ul.nav-menu li a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
ul.nav-menu li a:visited {
  color: #000000;
}
ul.nav-menu li:first-child {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  margin-left: 0;
}
ul.nav-menu li:last-child {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  margin-right: 0;
  width: calc(calc(1024px/5 - 10px/5) - 10px);
  padding-right: 10px;
}
ul.nav-menu li:hover {
  background: #ff9933;
}
