<div class="lcars-foot">	
	<ul class="nav-menu">
		<li><a href="http://www.starfleettaskforce1.com/" target="_blank">Starfleet Task Force 1</a></li>
		<li><a href="http://www.thehouseofmartok.com/" target="_blank">The House of Martok</a></li>
		<li><a href="http://www.starfleettaskforce1.com/newpm/2136666" target="_blank">Message O.P.S.</a></li>
		<li><a href="http://sto.perfectworld.com" target="_blank">Star Trek Online</a></li>
	</ul>
	<h1 class="lcars-foot"><span class="pip-left"></span><span class="pip-right"></span>
		<span class="lcars-foot">Starfleet Task Force 1</span>
	</h1>
</div>