<div class="col-md-2" id="sidebar">
	<ul class="list-unstyled">
		<li><a href="/">home</a></li>
		<li>
			about
			<ul>
				<li><a href="https://github.com/Thimoteus" target="_blank">github</a></li>
				<li><a href="http://www.reddit.com/user/Thimoteus/" target="_blank">reddit</a></li>
				<li><a href="mailto:richardfannin@gmail.com">email</a></li>
			</ul>
		</li>
		<li>
			projects
			<ul>
				<li><a href="/countdown" target="_blank">countdown</a></li>
            <li><a href="/jaraw" target="_blank">jaraw</a></li>
			</ul>
		</li>
	</ul>
</div>
